<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="rodape__esquerda">
        <p class="rodape__redes__sociais">Redes sociais</p>
        <a class="rodape__imagem" href="https://www.facebook.com/FordBrasil/?locale=pt_BR"><img
                src="./img/facebook-50.png" alt="facebook"></a>
        <a class="rodape__imagem" href="https://www.youtube.com/fordbrasil"><img src="./img/youtube-squared-50.png"
                alt="youtube"></a>
        <a class="rodape__imagem" href="https://www.instagram.com/fordbrasil/"><img
                src="./img/instagram-logo-50.png" alt="instagram"></a>
    </div>
    <div class="container">
      <p class="mb-0">&copy; 2025 Ford Brasil. Todos os direitos reservados.</p>
    </div>
    <a href="https://www.ford.com.br/"><img src="./img/ford-96.png" alt="Logo" class="rodape__imagem__logo"></a>
  </footer>
